<!DOCTYPE html>
<html>
<head> 
    <title> Home Page </title>

    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sf-juggernaut-condensed" rel="stylesheet">
                
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div>
        <div class="intro" id="wrapper">    
            <h1>WELCOME TO KAISER'S WEBSITE</h1> 
            <p class="descp"> Welcome to my world! </p>
        </div>

        <div class="logo" id="wrapper">
                <a class="profile-logo" href="/profile"><img src="../static/molly.png" alt="Profile" width="150" height="150"></a>
                <a class="works-logo" href="/works"><img src="../static/smoke.png" alt="Profile" width="150" height="150"></a>
                <a class="contact-logo" href="/contact"><img src="../static/wall.png" alt="Profile" width="150" height="150"></a>
        </div>

        <div class="text" id="wrapper">
            <a class="profile-text" href="/profile">Profile</a>
            <a class="works-text" href="/works">Works</a>
            <a class="contact-text" href="/contact">Contact</a>
        </div>

    </div>
</body>
</html>

