<!DOCTYPE html>

<html>
<head>
    <title>Kaiser's Profile</title>
    
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sf-juggernaut-condensed" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet">
                
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body class="profile">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <div>
        <li class="profile-pic"><img src="../static/profilepic.png" alt="Profilepic" width="200" height="200"></li>
    </div>

    <div class="introduction" id="wrapper">
        <h1><center>I am Jhon Kaiser R. Sajo </center></h1>
        <p class="description">A Computer Engineering student from BSCPE 2-4. This website was made in requirement of our subject in Data Structures and Algorithm. 
            The concept of this website was inspired by the game Valorant which I like play.
        </p>
        <p class="description">One thing life has taught me that I will forever apply is that to "Never expect, never assume."</p>
    </div>
</body>
</html>
