<!DOCTYPE html>

<html>
<head>
    <title>Kaiser's Works</title>
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sf-juggernaut-condensed" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body class="works" id="wrapper">
    <div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="works-logo">
        <a class="toUpper-logo" href="/toUpperCase"><img src="../static/jettsmoke.png" alt="To Uppercase" width="150" height="150"></a>
        <a class="circleArea-logo" href="/areaOfcircle"><img src="../static/jettupdraft.png" alt="Area of Circle" width="150" height="150"></a>
        <a class="triangleArea-logo" href="/areaOfTrianglet"><img src="../static/jettdash.png" alt="Area of Triangle" width="150" height="150"></a>
        <a class="mergeLinkedLists-logo" href="/mergeLinkedLists"><img src="../static/jettult.png" alt="Merge Linked Lists" width="150" height="150"></a>
    </div>

    <div class="works-name">
        <a class="works-toUpper" href="/toUpperCase">To Uppercase</a>
        <a class="works-circleArea"href="/areaOfcircle">Area of Circle</a>
        <a class="works-triangleArea"href="/areaOfTrianglet">Area of Triangle</a>
        <a class="works-mergeLinkedLists"href="/mergeLinkedLists">Merge Linked Lists</a>
    </div>

    <div class="works-descp">
        <p class="toUpper-descp">Convert a series of texts into its uppercase form.</p>
        <p class="circleArea-descp">Solves for the area of a circle.</p>
        <p class="triangleArea-descp">Solves for the area of a triangle.</p>
        <p class="mergeLinkedLists-descp">Combines two linked lists into one.</p>
    </div>
</body>
</html>